<%- include('./partials/header.ejs');-%> 
<body>
	<nav>
		<div class="nav">
			<div class="menu ndv">
				<a class="menu-link" href="#">About</a>
				<a class="menu-link" href="#">Pricing</a>
				<a class="menu-link" href="#">Contact</a>
			</div>
			<div class="logo ndv">
				<a class="nav-link ivory" href="#"><img class="cloud"src="/images/Images/Group 222.png">
					<span class="vec"><img src="/images/Images/Group 220.png"></span>
				</a>
			</div>
			
			<div class="path ndv">
				<a class="log-link" href="/staff/login"><button class="log">Login</button></a>
				<a class="log-link" href="/"><button class="sign">Sign up</button></a>
			</div>
	</div>
	</nav>

	<div class="con">
		<div class="wrapper">
			<div class="left-side">
			  <div class="ftures">
				<img class="img" src="/images/Images/Saly-1.png" alt="" />
				<p class="para">Gain fast and easy access to patient database</p>
			  </div>
			  <div class="ftures">
				<p class="para">Track and manage medical records with ease</p>
				<img class="img" src="/images/Images/Saly-12.png" alt="" />
			  </div>
			  <div class="ftures">
				<img class="img" src="/images/Images/Saly-16.png" alt="" />
				<p class="para">Read and edit patient records fast</p>
			  </div>
				<div id="container">
   				  <div id="circle">
      				  <div id="small-circle">
                      </div>
                  </div>
                </div>
			</div>
		
		<div class="right-side">
			<div class="right-side">
				<h2 class="heading login">Join Us!</h2>
				<p class="subtitle down">To begin this journey, tell us what type of account you'd be accessing.</p>
				<a href="/staff/register">
					<div class="staff-reg">
						<div class="pentagon">
						<img class="iden" src="/images/Images/vector.png" alt="">
						</div>
						<p class="heads">Staff<br><span class="sub">Belong to the hospital, this is for you.</span></p>
						<svg id="i-arrow-right" class="arrow" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" width="20" height="20" fill="none" stroke="currentcolor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2">
						<path d="M22 6 L30 16 22 26 M30 16 L2 16" />
						</svg>
					</div>
				</a>
				<div class="patient-reg">
					<div class="pent">
						<img class="iden" src="/images/Images/user.png" alt="">
					</div>
					<p class="heads">Patient<br><span class="sub">Personal account to manage all your activities.</span>
					</p> 
				</div>
			</div>
		</div>
	  </div>
    </div>
</body>
</html> 