<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
    .mag{
        margin: 200px auto;
        text-align: center;
        font-size: 60px;
        font-weight: 700;
        font-family: 'Inter';
    }
</style>
<body>
    <div class="mag">
        <% if (User.hospitalverified) { %>
             <%= User.prefix %> <%= User.name %> is now part of your Hospital  
        <% } else {%>
                User has been Deleted
        <% } %> 
    </div>
</body>
</html>